<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         backupGlobals="false"
         processIsolation="false"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false">
  <testsuites>
    <testsuite name="php-parallel-soap">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
  <groups>
    <!-- Run the hermetic suite by default; opt into external tests with the "external" group. -->
    <exclude>
      <group>external</group>
    </exclude>
  </groups>
  <logging>
    <junit outputFile="build/report.junit.xml"/>
  </logging>
  <php>
    <ini name="memory_limit" value="512M"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>
</phpunit>
